* {
    margin:0;
    padding:0;
}
html{
    width:100%;
    overflow-x:hidden;
}
body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:14px;
}
#nav{
    min-width: 800px;
    width:100%;
    height:40px;
    position: relative;
    z-index: 999;
    background-color:#eee;
}
ul{
    list-style:none;
}
ul li{
    float:left;
    line-height:40px;
    text-align:center;
    width:100px;
}
#nav a{
    text-decoration:none;
    color:#000;
    display:block;
}
a:hover{
    color:#F00;
    background-color:#666;
}
ul li ul li{
    float:none;
    background-color:#eee;
    margin:2px 0px;
}
ul li ul{
    position: absolute;
    display:none;
}
ul li ul li{
    z-index: 2;
}
.search{
    position: relative;
    left: 150px;
    top:-5px;
    background: white;
    maxlength:59;
}
.search input{
    height: 25px;
    width: 180px;
    border:0;
    outline:none;
    padding-left: 16px;
    background-color:rgba(0,0,0,0);

}
#search input:first-child {
    width: 200px;
    height: 25px;
}
#search input:last-child {
    position: relative;
    left: 160px;
    top: -45px;
    width: 45px;
    height: 30px;
    font-size: 0;
    background: url(../images/sousuo.jpg) no-repeat 50% 50%;
    background-size: auto 60%;
    z-index: 2;
}
.stitle {
    display: inline-block;
    border-bottom: 1px solid #e7e7e7;
    height: auto;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    margin-top:50px;
    left: 100px;
}

.stitle .s_f {
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
}

.con24 .stitle {
    margin: 0 14px 0px 14px;
    float: left;
    width: 95%;
}

.stitle h1 {
    color: #f68;
    font-weight: normal;
    border-left: 6px solid #cd4;
    text-indent: 8px;
    height: auto;
    line-height: 1.5rem;
    margin: 10px 0;
    display: inline-block;
    font-size: 24px;
}
.tagbox{
    position: relative;
    min-width: 900px;
    width: 900px;
    height: 100px;
    left: 100px;
}

.tagbox dl.tag-list {
    line-height: 1.6rem;
    margin: 3px 0;
    float: left;
    width: 100%;
}

.tagbox dl.tag-list dd {
    float: left;
    width: 100%;
}

.nianfan {
    float: left;
    width: 33%;
}

.tagbox dl.tag-list dd a {
    padding: 0 6px;
    margin-right: 8px;
    display: inline-block;
    color: #777;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.tagbox dl.tag-list dd a {
    padding: 0 6px;
    margin-right: 8px;
    display: inline-block;
    color: #777;
}
.anime_list{
    margin-left: 100px;
    width: 900px;
    height: 70px;
}

.anime_list dl {
    border-top: 2px dashed #e5e5e5;
    padding: 12px 7px;
    margin: 12px 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .37);
    width: 97%;
}

.anime_list dl, .detail dl {
    clear: both;
    float: left;
    display: block;
}

.anime_list dt, .detail dt {
    width: 180px;
    height: 300px;
    float: left;
}

.anime_list dd, .detail dd {
    padding-left: 50px;
    overflow: hidden;
}
.anime_list h2, .anime_list h3, .detail h1 {
    font-weight: normal;
    line-height: 1.4rem;
    margin-bottom: 0;
    display: inline;
}

.anime_list h3 {
    font-size: 1.3rem;
}

.anime_list p, .detail p {
    line-height: 1.6rem;
    margin: 2px 0 0 0;
    color: #777;
}

.d_label b {
    float: left;
    color: #999;
}

.dm3{
    font-size: 20px;
    position: relative;
    margin-top: 30px;
    right: 600px;
    font-weight: bold;
}

.dm4{
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    min-width: 1000px;
}

.dm5{
    position: relative;
    margin-left: 300px;
    margin-top: 250px;
}
.dm6 textarea{
    border-radius: 10px;
    border: 1px solid #2687eb;
    margin-top: 50px;
    margin-left: 300px;
    width: 500px;
    height: 60px;
}
.dm6 input{
    border-radius: 10px;
    border: 1px solid #2687eb;
    width: 60px;
    height: 60px;
}